.wordContent {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    background-color:white;
    padding: 20px;
    border-radius: 20px;    
}

.buttonsBlock {
    display:flex;
    justify-content: space-between;
    padding: 10px;
}

.addWord {
    color:white;
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
    background-color : rgb(75, 189, 75);
    border: none;
    border-radius: 3px;
}

.wordClick {
    display: inline-block;    
}

.wordBlock {
    display: flex;
    align-items: center;
}

.wordMain {   
    display: flex;
    align-items: center;   
    cursor: pointer;
    width: 100%
}


.wordEnglish {    
    padding-left: 10px;
    line-height: 24px;
}

.line {
    margin: 0 10px;
    height: 1px;
    width: 20px;
    background-color: rgba(133, 133, 133, 0.8);
}

.deletWord {
    font-weight: 400;    
    border-radius: 20%;
    background: white;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-left: 10px;
}


